<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{User.username}} on {{format_date createdAt}}
    </div>
    <div class="text">
      {{body}}
    </div>
  </section>
  {{/each}}
</div>