<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="bg-dark">
      <h1 class="title text-info">Tech Blog</h1>
      <nav class="navbar">
        <div>
          {{#if loggedIn}}
            <div><a href="/">Home</a></div>
            <div><a href="/dashboard">Dashboard</a></div>
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <a href="/">homepage</a>
            <a href="/login">login</a>
            <a href="/signup">signup</a>
          {{/if}}
        </div>
      </nav>
    </header>
    <main>
      <div class="bodyinfo">
      {{{body}}}
      </div>
    </main>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>